---
layout: default
title: Gavelmont
discord_link: https://discord.com/invite/ccWJbhXJ
header_menu:
    - name: Início
      url: '#inicio'
      color: var(--color-title)
    - name: Origem e Missão
      url: '#origem-e-missao'
    - name: Casas
      url: '#casas'
    - name: Comunidade
      url: '#comunidade'
    - name: Perguntas Frequentes
      url: '#perguntas-frequentes'
---

<main class="bg-black">
    <!-- Início -->
    <div id="inicio" class="d-flex flex-column align-items-center justify-content-between" style="background: url('/assets/img/castelo-1.webp'); min-height: 100vh;">
        <div class="w-100 max-width" data-aos="fade-down">
            <div class="w-100 d-flex d-md-none justify-content-start">
                <a id="menu_button" href="#" style="font-size: 2rem;">☰</a>
            </div>

            <!-- Navbar -->
            <div id="menu_items" class="w-100">
                <div class="w-100 d-flex flex-column flex-md-row justify-content-evenly align-items-center">
                    <img class="d-none d-md-block" src="/assets/img/brasao.webp" alt="Brasão" style="width: 64px;">
                    {% for item in page.header_menu %}
                    <a href="{{ item.url }}"
                        {%if item.color %}
                            style="color: {{ item.color }} !important"
                        {% endif %}
                        >{{ item.name }}</a>
                    {% endfor %}
                    <div></div>
                </div>
            </div>
        </div>

        <h1 class="text-center my-5 pt-5 max-width" data-aos="fade-up">O CHAMADO DE <br> GAVELMONT</h1>
        <p class="text-center my-5 pb-5 max-width" data-aos="fade-up">A escola que é um santuário.<br> As casas, seus pilares.<br> A união, seu poder.</p>
    </div>

    <hr>

    <!-- Origem e Missão -->
    <div id="origem-e-missao" class="d-flex flex-column align-items-center" style="background: url('/assets/img/bruxos.webp');">
        <div class="max-width my-5 pt-5 w-100 d-inline-flex align-items-center justify-content-evenly">
            <h2 data-aos="fade-up">A ORIGEM E<br> A MISSÃO</h2>
            <img class="d-none d-md-block" data-aos="fade-up" src="/assets/img/brasao.webp" alt="Brasão" style="height: 256px;">
        </div>
        <div class="pb-5 max-width">
            <p data-aos="fade-up">
                Numa noite enluarada na Catedral de Maringá, três vultos cruzaram uma ponte antiga
                e trocaram juramentos: Fabio, João e Astral. Cada um trazia um dom e uma convicção:
                Fabio sonhava com redes de colaboração que ligassem criadores, João via pontes entre
                técnica e arte e Astral pressentia uma cultura onde narrativas e filosofia guiariam o ofício.
                Unidos pelas mesmas inquietações e pela certeza de que a criação de jogos poderia transformar vidas,
                eles assinaram um pacto simbólico: erguer uma escola que fosse ao mesmo tempo oficina,
                santuário e movimento cultural.
            </p>
            <p data-aos="fade-up">
                A imagem fundacional da academia mostra três figuras reunidas. Embora a fundação tenha nascido desse trio,
                o funcionamento prático e o cultivo diário dos ofícios ficaram a cargo de uma geração de mestres artesãos
                e guias que conduzem cada pilar da escola.
            </p>
            <p data-aos="fade-up">
                A missão que Fabio, João e Astral legaram foi simples e profunda: transformar talentos solitários
                em uma comunidade unida de criadores e desenvolvedores por todo o Brasil.
                Gavelmont foi erguida sobre quatro valores-cardinais: criatividade, intuição, expressividade
                e pensamento filosófico, princípios que orientam tanto aulas quanto ritos e festivais internos.
            </p>
        </div>

        <h2 data-aos="fade-up" class="text-center max-width my-5 pt-5">AS QUATROS CASAS DE GAVELMONT</h2>
        <p data-aos="fade-up" class="text-center max-width">
            Com a visão dos fundadores firmada, os mestres transformaram os pilares em casas:
            agrupamentos rituais que organizam aprendizado, tributos e provações.
            Cada casa foi encabeçada por um dos mestres e incorporou um símbolo e um ethos próprios.
        </p>
        <p data-aos="zoom-in" class="text-center my-5 py-5">
            <a class="button-join py-4 px-5" target="_blank" href="{{ page.discord_link }}">JUNTE-SE À NOSSA COMUNIDADE</a>
        </p>
    </div>

    <hr>

    <!-- Casas -->
    <div id="casas" class="py-10" style="background: url('/assets/img/arkanum.webp');">
        <h2 class="mb-5 max-width" data-aos="fade-up">CASA ARKANUM</h2>
        <p data-aos="fade-up" class="max-width">
            Arkanum é o refúgio dos artífices da ordem, onde o código se torna magia e a lógica, um oráculo.
            Seus aprendizes não apenas constroem sistemas, mas tecem o próprio tecido da realidade do jogo.
            A coruja mecânica, seu emblema, simboliza a visão que perfura as camadas da engenharia,
            revelando a beleza intrínseca da funcionalidade.
            Para os Arkanum, cada algoritmo é uma runa, cada linha de código um feitiço.
        </p>
    </div>

    <hr>

    <div class="py-10" style="background: url('/assets/img/sonori.webp');">
        <h2 class="mb-5 max-width" data-aos="fade-up">CASA SONORI</h2>
        <p data-aos="fade-up" class="max-width">
            Sonori é o santuário daqueles que dão voz ao mundo, moldando as emoções com o poder do som.
            Aqui, os murmúrios de uma floresta, a canção de uma espada em combate e a sinfonia de um
            momento de triunfo são todos partituras a serem orquestradas. O grifo cantor, seu símbolo,
            eleva a melodia do coração do jogo, fazendo com que cada nota e cada efeito ecoem na alma dos que ouvem.
        </p>
    </div>

    <hr>

    <div class="py-10" style="background: url('/assets/img/illustrae.webp');">
        <h2 class="mb-5 max-width" data-aos="fade-up">CASA ILLUSTRAE</h2>
        <p data-aos="fade-up" class="max-width">
            Illustrae é o ateliê dos olhos, o lar dos criadores de visões. A fênix de tinta, seu emblema,
            representa a eterna renovação criativa. Pois para cada projeto, uma velha ideia deve morrer
            para que uma nova possa renascer em cores e formas vibrantes.
            Os Illustrae não apenas desenham mundos; eles os habitam primeiro,
            traduzindo o invisível em algo que pode ser visto e sentido.
        </p>
    </div>

    <hr>

    <div class="py-10" style="background: url('/assets/img/narrath.webp');">
        <h2 class="mb-5 max-width" data-aos="fade-up">CASA NARRATH</h2>
        <p data-aos="fade-up" class="max-width">
            Narrath é a biblioteca viva onde as histórias se entrelaçam e os mitos são moldados.
            O dragão bibliotecário, seu guardião, não apenas vela por manuscritos antigos,
            mas também por novos enredos que aguardam ser contados.
            Os membros de Narrath são bardos e arquivistas, navegando pelos rios do tempo
            para sussurrar novos caminhos e finais, garantindo que as lendas de Gavelmont jamais se apaguem.
        </p>
    </div>

    <hr>

    <!-- Comunidade -->
    <div class="py-5 d-flex flex-column align-items-center" id="comunidade" style="background: url('/assets/img/castelo-2.webp');">
        <h2 data-aos="fade-up" class="text-center mt-5 pt-5 max-width">O SANTUÁRIO DE GAVELMONT</h2>
        <p data-aos="fade-up" class="text-center my-5 pb-5 max-width">
            O castelo de Gavelmont ergue-se sobre uma elevação onde a ponte se curva como arco de convocação.
            É ao mesmo tempo arquitetura e símbolo: salões para prática, torres de criação,
            jardins de protótipos e bibliotecas vivas. Apenas quem segue o "caminho estreito da luz"
            percebe a ponte e atravessa para os salões do interior.
        </p>

        <p data-aos="fade-up" class="text-center mb-5 pb-5">
            <a class="button-join py-4 px-5" target="_blank" href="{{ page.discord_link }}">JUNTE-SE À NOSSA COMUNIDADE</a>
        </p>
    </div>

    <hr>

    <!-- Perguntas Frequentes -->
    <div id="perguntas-frequentes" class="py-5 d-flex flex-column align-items-center" style="background: url('/assets/img/biblioteca.webp');">
        <h2 data-aos="fade-up" class="text-center my-5 py-5 max-width">PERGUNTAS FREQUENTES</h2>
        <div data-aos="fade-up" class="mb-5 pb-4 max-width">
            <h3>01. Como a Gavelmont foi fundada e qual a sua missão?</h3>
            <p>
                A Gavelmont foi fundada em Santa Catarina por três figuras: Fabio, João e Astral,
                que se uniram com a convicção de que a criação de jogos poderia transformar vidas.
                A missão que eles deixaram é transformar talentos solitários em uma comunidade unida
                de criadores e desenvolvedores em todo o Brasil.
                A escola é erguida sobre quatro valores principais:
                criatividade, intuição, expressividade e pensamento filosófico.
            </p>
        </div>
        <div data-aos="fade-up" class="mb-5 pb-4 max-width">
            <h3>02. O que são as Casas de Gavelmont e como elas são estruturadas?</h3>
            <p>
                As Casas de Gavelmont são agrupamentos rituais criados pelos Mestres da escola
                para organizar o aprendizado e as provações.
                Cada uma delas é liderada por um Mestre artesão e incorpora um símbolo e um ethos próprios.
                A Casa Arkanum, liderada por Eduardo Mendes, é dedicada à engenharia e ao design técnico.
                Sonori, com Joel, acolhe aqueles que trabalham com som e ambiência.
                A Casa Illustrae, sob a liderança de Guilherme, é a oficina de concept artists e ilustradores.
                Por fim, a Casa Narrath, liderada por Lucas, é o lar dos contadores de histórias e dramaturgos.
            </p>
        </div>
        <div data-aos="fade-up" class="mb-5 pb-4 max-width">
            <h3>03. Quais desafios os aprendizes podem esperar em Gavelmont?</h3>
            <p class="mb-0">
                Os aprendizes de Gavelmont enfrentam desafios projetados para testar suas habilidades,
                coragem e capacidade de colaboração. Esses desafios variam de acordo com cada Casa:
                quebra-cabeças lógicos em Arkanum, partituras que se adaptam às emoções em Sonori,
                quadros que ganham cor com a intenção do toque em Illustrae, e manuscritos com finais ocultos em Narrath.
                Esses testes podem ser propostos pelos Mestres, por colegas ou ativados
                pelos próprios Fundadores através de rituais.
            </p>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <div class="d-flex flex-column align-items-center py-5" style="background: url('/assets/img/castelo-3.webp'); background-size: contain !important; background-position: bottom;">
        <div data-aos="fade" class="max-width">
            <div class="d-flex flex-column flex-md-row">
                <div>
                    <h4>GAVELMONT ACADEMY</h4>
                    <p class="pr-5">
                        Nascida do juramento de três fundadores, a Gavelmont é uma escola e um movimento cultural.
                        Nossa missão é transformar talentos solitários em uma comunidade unida de criadores de jogos.
                        Erguida sobre valores como criatividade e pensamento filosófico, somos um farol que guia
                        o "caminho estreito da luz" para todos aqueles que têm a intenção genuína de criar.
                    </p>
                </div>

                <div class="d-flex flex-column">
                    <h4>LINKS RÁPIDOS</h4>
                    {% for item in page.header_menu %}
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <p class="mt-4">Gavelmont © Copyright 2025 — Todos os direitos reservados</p>
        </div>
    </div>
</main>

<script>
</script>