---
---
:root {
    --swiper-theme-color: #ffffffc5 !important;
    --color-title: #FFB300;
    --text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
}

@font-face {
    font-family: 'CinzelDecorative';
    src: url(/assets/fonts/CinzelDecorative-Regular.ttf);
}

@font-face {
    font-family: 'CormorantUnicase';
    src: url(/assets/fonts/CormorantUnicase-Regular.ttf);
}

@font-face {
    font-family: 'MedievalSharp';
    src: url(/assets/fonts/MedievalSharp-Regular.ttf);
}

@font-face {
    font-family: 'Metamorphous';
    src: url(/assets/fonts/Metamorphous-Regular.ttf);
}

main > div {
    padding: 2rem;
}

div {
    position: relative;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
    z-index: 0;
}

div::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: brightness(0.7);
    z-index: -1;
}

h1, h2 {
    font-family: 'CinzelDecorative';
    color: var(--color-title) !important;
    text-shadow: var(--text-shadow);
}

h1 {
    font-size: 6rem !important;
}

h2 {
    font-size: 5rem !important;
}

p {
    font-family: gazpacho,serif;
    font-size: 24px;
    margin-bottom: 2rem !important;
}

h3 {
    font-family: gazpacho,serif;
    font-weight: 700 !important;
    text-shadow: var(--text-shadow);
}

hr {
    height: 28px;
    background: linear-gradient(90deg, #FFB300 0%, #8B0000 100%);
    border-style: none !important;
    opacity: 100% !important;
    margin: 0 !important;
}

a {
    font-size: 18px;
    font-family: gazpacho,serif;
    font-weight: 700;
    text-decoration: none !important;
    color: white !important;
    text-shadow: var(--text-shadow);
}

a:hover {
    color: var(--color-title) !important;
}

.text-shadow {
    text-shadow: var(--text-shadow);
}

.button-join {
    padding: 3px;
    border: 4px double #FFFFFF;
    background: repeat padding-box border-box 0% 0% / auto auto scroll linear-gradient(180deg, #D89D08 0%, #ff9900 100%);
}

.button-join:hover {
    color: black !important;
    background: #FFFFFF;
    border: 3px double rgb(11, 47, 91);
}

.py-10 {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
}
